app:
  #HTTP服务器进程数
  http_process_count: 1
  #设置给外部回调的地址
  callback_url: 'https://v2.188zq.vip'

#Postgres数据库配置
pgsql:
  master:
    host: ''
    port: 0
    username: ''
    password: ''
    database: ''

#Redis配置
redis:
  master:
    host: ''
    port: 6379
    password: ''
    database: 0

#JWT配置
jwt:
  #签名密钥
  key: ''
  #默认过期时间（秒）
  expire: 604800

#rabbitmq配置
rabbitmq:
  master:
    hostname: ''
    port: 5672
    vhost: '/'
    username: ''
    password: ''
    timeout: 10
    heartbeat: 25

#Luffa机器人配置
luffa:
  uid: ''
  secret: ''
  #提醒消息的通知目标
  notification:
    - type: 1
      uid: ''

#Plisio支付通道配置
plisio:
  name: ''
  api_url: ''
  secret: ''