app:
  #HTTP服务器进程数
  http_process_count: 1

#Postgres数据库配置
mysql:
  host: ''
  port: 0
  username: ''
  password: ''
  database: 'cloud_chain'

#Redis配置
redis:
  host: ''
  port: 6379
  password: ''
  database: 0

#JWT配置
jwt:
  #签名密钥
  key: ''
  #默认过期时间（秒）
  expire: 604800

#Luffa机器人配置
luffa:
  uid: ''
  secret: ''
  #提醒消息的通知目标
  notification:
    - type: 1
      uid: ''